# Backend
NODE_ENV=development
PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=klontong
JWT_SECRET=change-this-to-a-long-random-string
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000

# Frontend
NUXT_PUBLIC_API_BASE=http://localhost:3001/api
