# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
.nuxt/
.output/
dist/
build/

# Environment files
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Docker volumes (jangan commit data DB)
pgdata/

# TypeScript cache
*.tsbuildinfo
